div.admin_box_bg 
{
	/* position:absolute; */
	background-color:black;
	/* filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity: 0.5; */
	vertical-align:top; 
	top:0; 
	left:0;
	z-index:2;
	
	/* height: 100%; */
	/* width: 475px; */
}

div.admin_box,
div.admin_box_wide,
{
	/* position:absolute; */
	/* background-color: #fffadb; */
	background-color: rgb(25,25,25);
	
	top: 120px;
	left: 125px;
	width: 95%;
	z-index:30;
	text-align: left;
	color: white;
}

div.admin_box_wide
{
	background-color: rgb(25,25,25);
	
	top: 500px;
	left: 80px;
	width: 975px;
}


div.admin_box_darkblue
{
	/*background-color: #808080;*/
	background-color: #719ba7;
}

div.admin_box_listprint
{
	padding: 5px 10px 5px 10px;
	font-size:.95em;
	width:97%;
}

div.admin_box_blue
{
	/*background-color: #fffadb;*/
	background-color: #d5eaf0;
}

div.admin_box_right
{
	text-align: right;
	padding: 10px 10px 5px 5px
}

div.admin_box_head
{ 
	padding: 0px 40px 0px 40px;
	font-size:.85em;
}

div.admin_border_darkblue
{
	border: 3px solid #A99E9E;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px;
}


div.admin_border_black
{
	border: 3px solid black;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
}


.divHide {display:none;}
.divShow {display:block;}		

.cacRadio { margin: 5px 5px 2px 5px; }
.cacCheck { margin: 5px 5px 2px 5px; }
.divCacGroup { padding: 5px; }
.divCacTagGroup { padding: 0px 0px 1px 0px; }
.divCacResponse { padding: 0px 15px 0px 10px; }
.divCacSubResponse { padding: 0px 10px 0px 10px; font-size:.9em; }
.divCacTimeStamps { padding: 0px 15px 0px 10px; }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

a.menuItem:link,a.menuItem:visited { display:block;width:145px;font-weight:bold;color:#000000;background-color:#66a9bd;text-align:center;padding:4px;text-decoration:none;border-radius:6px;border-width:2px;border-style:solid;border-color:#000000; }
a.menuItem:hover,a.menuItem:active { background-color:#719ba7; }
a.deployBtn:link,a.deployBtn:visited { display:inline;min-width:45px;font-weight:bold;color:#000000;background-color:#66a9bd;text-align:center;padding:2px;text-decoration:none;border-radius:6px;border-width:1px;border-style:solid;border-color:#000000; }
a.deployBtn:hover,a.deployBtn:active { background-color:#719ba7; }

body { font-size: .9em; }

form { margin-bottom: 0 ; }

div.divResponse {
	width: 98%;
	height: 200px;
	padding: 5px;
	overflow: scroll;
}

div.divOutput {
	width: 98%;
	height: 300px;
	padding: 5px;
	overflow: scroll;
}

